/* #region ---------- Setup section ---------- */

:root {
    --color-main: rgb(16, 156, 138);
    --color-pink: rgb(242, 106, 159);
    --color-bg: rgb(92, 143, 142);
    --color-bg2: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}

h1, h2 {
    color: var(--color-pink);
}

h3, h4, h5, h6 {
    color: var(--color-main);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.25rem;
}

h3 {
    font-size: 2.5rem;
}

/* Stop links going blue/purple */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* #endregion */

/* #region ---------- Utilities section ---------- */

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1vw;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button-full {
    white-space: nowrap;
    border: 2px transparent solid;
    background-color: var(--color-main);
    color: white;
    border-radius: 980px;
    padding: 10px 35px;
}

.button-full:hover {
    border: 2px var(--color-main) solid;
    background-color: white;
    color: var(--color-main);
    transform: scale(1);
}

.button-empty {
    white-space: nowrap;
    border: 2px var(--color-main) solid;
    background-color: white;
    color: var(--color-main);
    border-radius: 980px;
    padding: 10px 35px;
}

.button-empty:hover {
    border: 2px transparent solid;
    background-color: var(--color-main);
    color: white;
}

/* #endregion */

/* #region ---------- Header section ---------- */

header {
    height: 80px;
    width: 100vw;
    z-index: 9999;
    /*Change to white*/
    background-color: transparent;
    color: white;
    position: fixed;
}

header .flex {
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

header nav a {
    white-space: nowrap;
    font-size: 1.125rem;
    color: var(--color-main);
    margin: 0 2rem;
}

header nav a:hover {
    border-bottom: 2px var(--color-main) solid;
    color: var(--color-main);
    transform: scale(0.96);
}

#join {
    margin-right: 0;
}

/* #endregion */

/* #region ---------- Main section ---------- */

main {
    width: 100vw;
}

h2 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}

/* Creates even margin between sections */

section, footer {
    padding: 4rem 0;
}

/* #endregion */

/* #region ---------- Intro section ---------- */

.intro {
    height: 100vh;
    background-image: url("./img/header_image3.jpg");
    background-size: cover;
    background-position: 50% 40%;
}

.intro h1, .intro h3 {
    grid-column: 1 / span 1;
    text-shadow: 1px 1px white;
}

.intro h1 {
    align-self: flex-end;
    max-width: 80%;
}

.intro h3 {
    align-self: flex-start;
    max-width: 60%; /* keeps h3 aligned before h1 */
}

/* #endregion */

/* #region ---------- Nursery section ---------- */

.nursery {
    background-color: white;
}

.nursery h2 {
    margin-bottom: 0; /* reduces space already created by gap */
}

.explorers {
    grid-column: 1 / span 1;
}

.adventurers {
    grid-column: 2 / span 1;
}

.discoverers {
    grid-column: 3 / span 1;
}

.nursery .card {
    grid-row: 2 / span 1;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    align-items: center;
    justify-items: center;
}

.card img, .forrest img {
    border-radius: 8px;
}

.card img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    height: min-content;
    object-fit: cover;
    object-position: right bottom;
    min-width: 350px;
    max-width: 100%;
}

.explorers img {
    object-position: 75%;
}

.adventurers img {
    object-position: 10%;
}

.card h3 {
    color: white;
    grid-column: 1 / span 1;
}

.card .name {
    grid-row: 2 / span 1;
    align-self: flex-end;
    font-size: 3rem;
}

.card .years {
    grid-row: 3 / span 1;
    align-self: flex-start;
    font-size: 1.5rem;
}

.nursery .card:hover, .nursery .forrest:hover {
    transition: 0.15s ease-in-out;
    box-shadow: 0 0 25px rgb(0 0 0 / 20%);
}

.forrest {
    grid-column: 1 / -1; 
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.forrest img {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / span 4;
}

.forrest h3 {
    grid-column: 2 / span 1;
    color: white;
    padding-right: 2rem;
}

.forrest .name {
    grid-row: 2 / span 1;
    justify-self: end;
    align-self: flex-start;
    font-size: 3rem;
}

.forrest .years {
    grid-row: 3 / span 1;
    justify-self: end;
    align-self: flex-end;
    font-size: 1.5rem;
}

/* #endregion */

/* #region ---------- Reviews section ---------- */

.reviews {
    background-color: var(--color-bg2);
}

.statement {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 1rem;
    align-items: center;
    justify-content: start;
}

.a {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.b {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    justify-content: start;
}

.statement img {
    /*display: inline-block;*/
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    max-width: 100%;
    height: auto; 
}

.statement h4 {
    align-self: flex-start;
    font-size: 1.75rem;
}

blockquote {
    font-size: 2rem;
    justify-self: center;
}

/* #endregion */

/* #region ---------- Banner section ---------- */

.banner {
    background-color: var(--color-bg);
}

.banner .flex {
    justify-content: space-around;
}

.banner img {
    max-height: 125px;
}

/* Need better solution */
.banner .b {
    padding: 0 31.5px;
}

.banner .c {
    padding: 0 91.5px;
}

/* #endregion */

/* #region ---------- Joim section ---------- */

.join {
    background-color: white;
}

.join p {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 10px 0;
}

.join a {
    margin: 0 20px;
}

/* #endregion */

/* #region ---------- Footer section ---------- */

footer {
    width: 100vw;
    height: 50vh;
    background-color: var(--color-bg);
    color: white;
}

footer .grid {
    gap: 1rem;
}

footer nav {
    grid-column: 1 / -1;
    justify-self: center;
}

footer nav a {
    color: white;
    padding: 0 20px;
    border-right: 2px white solid;
    border-bottom: 2px transparent solid;
}

footer a:hover {
    border-bottom: 2px white solid;
}

footer nav a:last-child {
    border-right: none;
}

footer address {
    grid-column: 1 / -1;
    justify-self: center;
    grid-row: 2 / span 1;
}

address a {
    padding: 0;
    border: none;
}

footer .flex {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    justify-content: space-evenly;
}

footer img {
    height: 50px;
}

.ignore {
    font-size: 10px;
    border: none;
    grid-column: 1 / -1;
    justify-self: center;
}

/* #endregion */

/* #region ---------- Media queries ---------- */

@media only screen and (max-width: 600px) {
    .nav {
        display: none;
    }

    .intro h1 {
        font-size: 3rem;
        grid-area: 2 / 2 / span 1 / span 5;
    }
    
    .intro h3 {
        display: block;
        font-size: 1.25rem;
        grid-area: 3 / 2 / span 1 / span 4;
    }
}

/* #endregion */